.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(36, 40, 47);
}

.page-description {
  background: #fff;
  width: 100%;
  height: 30vh;
  padding: 0.5rem;
}

.page-description p {
  margin: 0.4rem;
}

.menu-cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 728px;
  height: 70vh;
  padding: 0 1rem;
}

.menu-cards a {
  text-decoration: none;
}

@media screen and (max-width: 726px) {
  .page-description {
    height: auto;
  }
  .menu-cards {
    justify-content: center;
    height: auto;
  }
}
