.characters-page {
  background-color: var(--dark-bg-color);
  height: 100vh;
}

.characters-container {
  width: 96%;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg-color);
}

.title-list {
  margin: 5px;
}
