.characters-page {
  background-color: var(--dark-bg-color);
  padding-bottom: 1rem;
}

.characters-container {
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--light-bg-color);
}

@media screen and (max-width: 500px) {
  .characters-container {
    padding: 0;
    background-color: transparent;
  }
}
