.spinner {
  margin: 0 auto;
}

@keyframes ldio-jm1vnmun5f {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-jm1vnmun5f div {
  box-sizing: border-box !important;
}
.ldio-jm1vnmun5f > div {
  position: absolute;
  width: 69px;
  height: 69px;
  top: 15.5px;
  left: 15.5px;
  border-radius: 50%;
  border: 5px solid #000;
  border-color: #009ef7 transparent #009ef7 transparent;
  animation: ldio-jm1vnmun5f 1.9607843137254901s linear infinite;
}

.ldio-jm1vnmun5f > div:nth-child(2),
.ldio-jm1vnmun5f > div:nth-child(4) {
  width: 57px;
  height: 57px;
  top: 21.5px;
  left: 21.5px;
  animation: ldio-jm1vnmun5f 1.9607843137254901s linear infinite reverse;
}
.ldio-jm1vnmun5f > div:nth-child(2) {
  border-color: transparent #ffffff transparent #ffffff;
}
.ldio-jm1vnmun5f > div:nth-child(3) {
  border-color: transparent;
}
.ldio-jm1vnmun5f > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-jm1vnmun5f > div:nth-child(3) div:before,
.ldio-jm1vnmun5f > div:nth-child(3) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 27px;
  background: #009ef7;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #009ef7;
}
.ldio-jm1vnmun5f > div:nth-child(3) div:after {
  left: -5px;
  top: 27px;
  box-shadow: 64px 0 0 0 #009ef7;
}

.ldio-jm1vnmun5f > div:nth-child(4) {
  border-color: transparent;
}
.ldio-jm1vnmun5f > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-jm1vnmun5f > div:nth-child(4) div:before,
.ldio-jm1vnmun5f > div:nth-child(4) div:after {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  top: -5px;
  left: 21px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 52px 0 0 #ffffff;
}
.ldio-jm1vnmun5f > div:nth-child(4) div:after {
  left: -5px;
  top: 21px;
  box-shadow: 52px 0 0 0 #ffffff;
}
.loadingio-spinner-double-ring-6a3ikfrg8lt {
  width: 91px;
  height: 91px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-jm1vnmun5f {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.91);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-jm1vnmun5f div {
  box-sizing: content-box;
}
