.characters-list {
  margin-top: 0.3rem;
}
.characters-list ul {
  padding-left: 0;
}

.list-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  font-size: 12px;
  color: #888;
}

.list-title-img,
.list-title-name,
.list-title-status,
.list-title-origin,
.list-title-location {
  width: 100%;
  text-align: left;
}
.list-title-img {
  max-width: 40px;
}
.list-title-name,
.list-title-status {
  max-width: 15%;
}

.list-title-origin,
.list-title-location {
  max-width: 25%;
}

@media screen and (max-width: 500px) {
  .list-header {
    display: none;
  }
  .characters-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
  }
}
