.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background-color: var(--dark-bg-color);
}

.header-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  line-height: 1.6rem;
}

.header .link {
  padding: 0 6px;
  text-decoration: none;
  color: #fff;
}

.header .link:hover {
  color: var(--primary-color);
}
